@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/globals' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets' as *;

.hero {
    display: flex;
    justify-content: center;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 2rem;
        gap: 20px;
        width: 320px;

        @include tablet {
            width: 768px;
            align-items: flex-start;
            padding: 128px 32px 128px 52.5px;
        }

        @include desktop {
            width: 1280px;
            padding: 80px 128px 90px 150px;
        }
    }

    &__title {
        font-size: 1.5rem;
        color: $pine;
        
        @include desktop {
            font-size: 2rem;

        }
    }

    &__description {
        font-weight: 500;
    }
}