@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/globals' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets' as *;

.header {
    background-color: $gray;
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        padding: 0 32px;
        justify-content: space-between;
        align-items: center;
    }

    &__box {
        display: flex;
        justify-content: space-evenly;

        &--nav {
            @include tablet {
                gap: 22.5px;
            }
        }

        &--sb {
            display: none;

            @include desktop {
                display: flex;
            }
        }
    }

    &__logo {
        width: 80px;
    }

    &__button {
        color: black;
        padding: 20px 0 40px 0;
        font-size: 1rem;

        &:hover {
            color: $forest;
        }

        @include tablet {
            padding: 0;
        }
    }

    &__social {
        display: none;

        @include tablet {
            display: flex;
        }
    }

    &__media {
        width: 32px;
        height: 20px;
    }

    &__link {
        color: black;
    }

    &__sb {
        height: 125px;
        width:325px;
    }
}